  /* Подключаем шрифты */
@font-face {
    font-family: 'Heebo';
    src: url(./fonts/Heebo-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Heebo';
    src: url(./fonts/Heebo-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Yantramanav';
    src: url(./fonts/Yantramanav-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 }
 
 
 /**
   Упрощаем работу с изображениями
  */
 img {
   display: block;
   max-width: 100%;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
   /**
     Плавный скролл
    */
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
   
 }
 
 /**
   Приводим к единому цвету svg-элементы
  */
 svg *[fill] { fill: currentColor }
 svg *[stroke] { stroke: currentColor }
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
   transition-property: fill, stroke;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   * {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }


  /* Переменные */
 :root {
    --color-dark: #000000;
    --color-light: #FFFFFF;
    --color-dark-gray: #404040;
    --color-light-gray: #C4C4C4;
    --color-dark-alternate: #131619;

    --border-radius: 30px;
    --border: 1px solid var(--color-light);

    --font-family-base: 'Heebo', sans-serif;
    --font-family-accent: 'Yantramanav', sans-serif;

    --input-height: 54px;

    --container-width: 1300px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;

    --header-height: 90px;
 }

  /* Предустановки по тексту и тд, ну шняга, в общем */
 body {
  font-family: var(--font-family-base);
  color: var(--color-light-gray);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  background-color: var(--color-dark);
 }

 p {
  margin-block: 0;
 }
 p:not([class]):not(:last-child) {
  margin-bottom: 24px;
 }

  /* Ссылки */
 a {
  color: var(--color-light);
 }
 a:hover {
  color: var(--color-light-gray);
 }
  /* Добавляем плавность ховерам "a, button, input..." */
 a, button, input, textarea, svg * {
  transition-duration: var(--transition-duration);
 }

  /* Шняга */
 .container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
 }

  /* Заголовки */
 h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
 }

 /* Предустановка для текста */
 .title-medium {
  font-size: clamp(20px, 2.08vw, 40px);
  line-height: 1.3;
 }
 .title-big {
  font-size: clamp(24px, 3.12vw, 60px);
 }




  /* HEADER */
 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding-inline: 32px;
  background-color: var(--color-dark-alternate);
  min-height: var(--header-height);
 }


  /* Лого */
 .header-logo {
  flex-shrink: 0;
 }


  /* Шапка (Меню) */
 .header-menu-list {
  display: flex;
  column-gap: 50px;
  flex-wrap: wrap;
 }

 .header-menu-link {
  display: inline-flex;
  align-items: center;
  column-gap: 7px;
  height: var(--header-height);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1em;
 }

 .header-menu-link.is-current::after {
  content: '';
  width: 5px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
 }


  /* Кнопки справа */
 .header-actions {
  display: flex;
  gap: 40px;
 }

 .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 38px;
  padding-inline: 7px 26px 7px 26px;
  width: 123px;
  height: 38px;
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  white-space: nowrap;
  border: none;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
 }

 .button:hover {
  background-color: var(--color-light-gray);
 }

 .header-burger-button {
  display: inline-flex;
  flex-direction: column;
  row-gap: 4px;
  padding-left: 8px;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
 }

 .header-burger-button:hover {
  color: var(--color-light-gray);
  border-color: currentColor;
 }

 .header-burger-button-line {
  width: 7px;
  height: 1px;
  background-color: currentColor;
  box-shadow: 15px 0px 0px 0px currentColor;
 }

 /* Визуально спрятанный текст */
 .visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}





 /* Main */



 /* section Banner */
 .banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: calc(100vh - var(--header-height));
  padding: 36px 70px;
  color: var(--color-light);
  background-color: var(--color-dark-alternate);
 }

 .banner-body {
  text-transform: uppercase;
 }

 .banner-info {
  display: flex;
  align-items: end;
  font-weight: 700;
  font-size: clamp(16px, 1.56vw, 30px);
  line-height: 127%;
 }

 .banner-info::before {
  content: '';
  width: clamp(60px, 10.1vw, 194px);
  aspect-ratio: 1;
  margin-right: 30px;
  margin-left: 42px;
  background: url(./icons/Vector.svg) center/contain no-repeat;
 }

 .banner-title {
  font-size: min(18.75vw, 360px);
  line-height: 1;
 }

 .banner-pagination-list {
  display: flex;
  justify-content: center;
 }

 .banner-pagination-item {
  display: flex;
 }
 
 .banner-pagination-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  background-color: transparent;
  border: none;
 }

 .banner-pagination-button::after {
  content: '';
  width: 10px;
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
 }

 .banner-pagination-button.is-current::after {
  background-color: var(--color-light);
 }

 .banner-pagination-button:not(.is-current):hover::after {
  border-color: var(--color-light-gray);
 }



  /* section Motivation */
  .motivation-item:nth-child(even) {
    background-color: var(--color-dark-alternate);
  }

  .motivation-item:nth-child(even) .motivation-card{
    flex-direction: row-reverse;
  }

  .motivation-card {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: clamp(30px, 10.42vw, 200px);
  }

  .motivation-card-img {
    margin-block: -60px;
  }

  .motivation-card-body {
    margin-left: 35px;
  }

  /* Элементы сзади текста */
  .backdrop-title {
    position: relative;
    z-index: 2;
  }
  .backdrop-title::before {
    content: '';
    display: block;
    position: absolute;
    right: calc(100% + 8px);
    width: 26px;
    aspect-ratio: 1;
    background: url(./icons/X.svg) center/contain no-repeat;
  }
  .backdrop-title::after {
    position: absolute;
    z-index: -1;
    top: -0.3em;
    left: -0.6em;
    font-family: var(--font-family-accent);
    content: attr(data-title);
    font-size: 2.8em;
    color: transparent;
    -webkit-text-stroke: 1px var(--color-dark-gray);
    line-height: 1;
  }
  .backdrop-title.centered::after {
    top: -0.25em;
    left: 50%;
    translate: -50% 0;
  }
  .motivation-card-title:not(:last-child) {
    margin-bottom: 14px;
  }

  .motivation-card-description {
    max-width: 400px;
  }

  .motivation-card-description:not(:last-child) {
    margin-bottom: 37px;
  }

  .button.transparent {
    position: relative;
    height: var(--input-height);
    background-color: transparent;
    border: var(--border);
    padding: 15px 81px 14px 31px;
    width: 192px;
    color: var(--color-light);
  }
  .button.transparent::after {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    aspect-ratio: 1;
    background: url(./icons/arrow.svg) center/100% no-repeat;
    width: 54px;
    height: 54px;
  }
  .button.transparent:hover {
    color: var(--color-light);
    box-shadow: 0 1px 1px 0  var(--color-light-gray), 0 2px 5px 0  var(--color-light-gray);
  }



  /* section Training-types */
  .training-types {
    position: relative;
    background-color: var(--color-dark);
    max-width: 1920px;
    margin-inline: auto;
    padding-bottom: 120px;
    padding-top: 70px;
  }
  .training-types-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;
  }
  .training-types-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    background: url(./icons/gray-arrow.svg) 100% 0/80px no-repeat;
    padding-top: 80px;
  }
  .training-types-item-title {
    font-size: 16px;
  }



  /* section Join-us */
  .join-us {
    background-color: var(--color-dark-alternate);
  }
  .join-us-video {
    width: 100%;
    max-width: 960px;
    height: auto;
  }
  .join-us-video-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 30px;
    background: url(./images/Join-us/join-us-bg.png) center/cover no-repeat var(--color-dark-alternate);
  }
  .join-us-play {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-light);
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px;
    border-radius: 5%;
  }
  .join-us-play:hover {
    color: var(--color-dark);
    border-color: var(--color-dark);
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 25px;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
  }
  .join-us-body {
    padding-bottom: 150px;
  }
  .join-us-title {
    position: relative;
    margin-top: -0.38em;
    font-size: clamp(64px, 9.37vw, 180px);
    line-height: 1;
    text-align: center;
  }
  .join-us-title::after {
    content: '';
    display: inline-block;
    height: 0.7em;
    aspect-ratio: 1;
    margin-left: 0.14em;
    background: url(./icons/Vector.svg) center/contain no-repeat;
    scale: 1 -1;
  }
  .join-us-title:not(:last-child) {
    margin-bottom: 80px;
  }

  .join-us-form-body {
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }
  .join-us-form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;
  }
  .join-us-form-header:not(:last-child) {
    margin-bottom: 52px;
  }
  .join-us-form-subtitle {
    font-size: 20px;
    line-height: 1.65;
    text-transform: uppercase;
    color: var(--color-light);
    text-align: center;
  }

  .input {
    height: var(--input-height);
    padding-inline: 25px;
    width: 100%;
    color: var(--color-light);
    background-color: transparent;
    border: 1px solid var(--color-dark-gray);
    border-radius: var(--border-radius);
  }
  .input::placeholder, select.input:invalid {
    color: var(--color-light-gray);
  }
  .input:hover {
    box-shadow: 0 1px 1px 0  var(--color-light-gray), 0 2px 5px 0  var(--color-light-gray);
  }
  .input:focus {
    outline: none;
    color: var(--color-dark);
    border: none;
    background-color: var(--color-light);
  }

  .join-us-form-input {
    max-width: 400px;
  }





  /* section Location */
  .location-map-img {
    height: auto;
  }
  .location {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1920px;
    margin-inline: auto;
  }
  .location-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 15px;
    text-align: center;
  }
  .location-title:not(:last-child) {
    margin-bottom: 14px;
  }
  .location-description {
    max-width: 490px;
  }
  .location-description:not(:last-child) {
    margin-bottom: 37px;
  }





  /* section family */
  .family {
    background-color: var(--color-dark-alternate);
  }
  .family-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;
    padding-top: 132px;
    padding-bottom: 62px;
    text-align: center;
  }
  .family-description {
    font-size: 20px;
    line-height: 1.65;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-light);
  }
  
  .family-body {
    display: flex;
    justify-content: center;
    column-gap: 26px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow: hidden;
  }
  .family-image {
    scroll-snap-align: start;
  }





  /* section calculate */
  .calculate {
    padding-block: 146px;
    background-color: var(--color-dark-alternate);
  }
  .calculate-inner {
    display: flex;
    align-items: center;
    column-gap: 36px;
  }
  .calculate-body {
    flex-grow: 1;
    max-width: 627px;
  }
  .calculate-title:not(:last-child) {
    margin-bottom: 16px;
  }
  .calculate-description:not(:last-child) {
    max-width: 385px;
    margin-bottom: 30px;
  }
  .calculate-form-body:not(:last-child) {
    margin-bottom: 26px;
  }
  .calculate-form-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px 30px;
  }
  .calculate-input.wide {
    grid-column: -1 / 1;
  }

  .calculate-table-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 610px;
  }
  .calculate-table-wrapper::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--color-dark);
    border-radius: 50%;
  }
  .calculate-table {
    position: relative;
    border-collapse: collapse;
  }
  .calculate-table th {
    padding-block: 20px;
    text-align: left;
    text-transform: uppercase;
    color: var(--color-light);
  }
  .calculate-table td {
    padding-block: 14px;
  }
  .calculate-table tfoot td {
    padding-top: 33px;
    padding-bottom: 0;
  }
  .calculate-table tfoot {
    color: var(--color-light);
  }
  .calculate-table :is(td, th) {
    padding-right: 50px;
  }
  .calculate-table :is(td, th):not(:first-child) {
    padding-left: 30px;
  }
  .calculate-table :is(td, th):not(:last-child) {
    border-right: solid 1px var(--color-dark-gray);
  }
  .calculate-table tbody td {
    border-top: solid 1px var(--color-dark-gray);
  }
  .calculate-table tbody tr:last-child td:first-child {
    position: relative;
  }
  .calculate-table tbody tr:last-child td:first-child::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1px;
    background-color: var(--color-dark-gray);
  }



  /* input type number hide arrows */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }





  /* Footer */
  .footer-logo-image {
    height: auto;
  }
  .footer-main {
    padding-top: 140px;
    padding-bottom: 160px;
  }
  .footer-header {
    display: grid;
    grid-template-columns: 20.77% auto;
    column-gap: 62px;
  }
  .footer-header:not(:last-child) {
    margin-bottom: 60px;
  }
  .footer-column-title {
    font-size: clamp(18px, 1,15vw, 22px);
  }
  .footer-column-title:not(:last-child) {
    margin-bottom: 15px;
  }
  .footer-body {
    display: grid;
    grid-template-columns: 20.77% repeat(3, 1fr);
    column-gap: 62px;
  }
  .footer-description {
    text-align: left;
  }
  .footer-schedule:not(:last-child) {
    margin-bottom: 13px;
  }
  .footer-address {
    font-style: normal;
  }
  .footer-address:not(:last-child) {
    margin-bottom: 35px;
  }
  .footer-column-title.has-arrow::after {
    content: '';
    display: inline-block;
    height: 0.74em;
    aspect-ratio: 1;
    margin-left: 0.5em;
    background: url(./icons/Vector.svg) center/contain no-repeat;
    scale: -1 1;
  }
  .footer-subscribe {
    /* width: 302px; */
    position: relative;
  }
  .footer-subscribe:not(:last-child) {
    margin-bottom: 50px;
  }
  .footer-subscribe-input {
    border: 1px solid var(--color-light);
    padding-right: 70px;
  }
  .footer-subscribe-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    aspect-ratio: 1;
    background-color: transparent;
    background: url(./icons/arrow.svg) center/100% no-repeat;;
    border: none;
    border-radius: 50%;
  }
  .footer-subscribe-button:hover {
    background-color: var(--color-light-gray);
  }
  .footer-soc1aLs-list {
    display: flex;
    column-gap: 19px;
  }
  .footer-soc1aLs-link {
    display: flex;
    width: 23px;
  }
  svg *[fill] {
    fill: currentColor
  }
  svg *[stroke] {
    stroke: currentColor
  }
  svg * {
    transition-property: fill, stroke;
  }


  .footer-extra {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--color-dark-alternate);
  }
  .footer-copyright {
    font-size: 14px;
  }





  /* Медиазапросы для адаптива */
   @media (max-width: 1919px) {
    .motivation-card-img {
      margin-block: -20px;
    }
   }
   @media (max-width: 1280px) {
    .training-types-list {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    .training-types {
      padding-bottom: 80px;
      padding-top: 60px;
      }
   }
   @media (max-width: 1080px) {
    .motivation-card-img {
      max-width: 30%;
      height: auto;
    }
   }
   @media (max-width: 1024px) {
    .header {
      flex-wrap: wrap;
      padding-top: 20px;
      row-gap: 10px;
    }
    .header-menu {
      order: 1;
      flex-basis: 100%;
    }
    .header-menu-link {
      height: 40px;
    }
    .header-menu-list {
      justify-content: left;
    }
    .header, .banner {
      padding-inline: 15px;
    }
    .banner {
      row-gap: 10px;
    }

    .motivation-card{
      padding-block: 50px;
    }
    .motivation-card-img {
      max-width: 30%;
      height: auto;
      margin-block: 0;
    }

    .join-us-body {
      padding-bottom: 80px;
    }
    .join-us-title:not(:last-child) {
      margin-bottom: 80px;
    }

    .location {
      display: flex;
      flex-direction: column-reverse;
    }

    .family-image {
      height: 360px;
    }

    .calculate {
      padding-block: 100px;
    }
    .calculate-form-body {
      grid-template-columns: 1fr;
    }
    .calculate-button {
      width: 100% !important;
    }
    .calculate-inner {
      column-gap: 20px;
    }
    .calculate-table :is(td, th) {
      padding-block: 10px;
    }
    .calculate-table tfoot td {
      padding-top: 10px;
    }

    .footer-header {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
    .footer-main {
      padding-top: 80px;
      padding-bottom: 50px;
    }
    .footer-body {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 20px;
    }
   }
   @media (max-width: 767px) {
    .button {
      padding-inline: 7px 18px 7px 18px;
    }
    .header {
      padding-top: 10px;
      padding-inline: 20px;
    }
    .header-menu-link {
      height: 30px;
    }
    .header-menu-list {
      column-gap: 24px;
      justify-content: left;
    }
    .header-actions {
      column-gap: 12px;
    }
    .banner-info {
      margin-bottom: 5px;
    }
    .banner-info::before {
      margin-right: 10px;
    }

    .motivation-card, 
    .motivation-item:nth-child(even) .motivation-card {
      flex-direction: column-reverse;
    }
    .motivation-card {
      padding-block: 30px;
      row-gap: 30px;
    }
    .motivation-card-img {
      max-width: 60%;
    }
    .motivation-card-description:not(:last-child) {
      margin-bottom: 20px;
    }

    .training-types {
    padding-bottom: 50px;
    padding-top: 30px;
    }
    .training-types-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    .training-types-item {
      background: url(./icons/gray-arrow.svg) 100% 0/50px no-repeat;
      padding-top: 50px;
      row-gap: 10px;
    }
    .training-types-img {
      max-width: 140px;
    }

    .join-us-play {
      width: 100px;
      height: 100px;
    }
    .join-us-title:not(:last-child) {
      margin-bottom: 40px;
    }
    .join-us-form-subtitle {
      font-size: 16px;
    }
    .join-us-form-body {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }

    .location-body {
      padding-block: 40px;
    }
    .location-description:not(:last-child) {
      margin-bottom: 20px;
    }

    .family-image {
      height: 180px;
    }
    .family-header {
      padding-top: 75px;
      padding-bottom: 50px;
    }
    .family-body {
      column-gap: 12px;
    }
    .family-description {
      font-size: 16px;
    }

    .calculate-inner {
      flex-direction: column;
      row-gap: 30px;
    }
    .calculate-table-wrapper::before {
      display: none;
    }
    .calculate {
      padding-block: 60px;
    }

    .footer-main {
      padding-top: 50px;
    }
    .footer-header:not(:last-child) {
      margin-bottom: 30px;
    }
    .footer-body {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
    }
    .footer-subscribe {
      margin-bottom: 40px;
    }
   }
   @media (max-width: 430px) {
    .header-book-button {
      width: 110px;
    }
   }



   /* scrollbar */
   body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-dark-gray);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--color-light-gray);
  }